a.out
*~
*.gch
*.lo
*.la
*.o
.deps
.libs
.dirstamp
/Makefile
/Makefile.in

f
f2

*.save
*.patch
*.rej
*.orig

core
.gdb_history
.gdbinit

/aclocal.m4
/ar-lib
/autom4te.cache/
/build/
/compile
/config.cache
/config.guess
/config.log
/config.status
/config.sub
/configure
/configure.lineno
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/sandboxconfig.h
/sandboxconfig.h.in
/stamp-h1

/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4

/ChangeLog
/sandbox-*.tar*

/etc/sandbox.d/00default

/libsandbox/libsandbox.map
/libsandbox/sb_nr.h
/libsandbox/symbols.h
/libsandbox/trace_syscalls*.h

/src/sandbox
/src/sandbox.sh

/tests/*-0
/tests/*_tst
/tests/atconfig
/tests/atlocal
/tests/get-group
/tests/get-user
/tests/sb_true
/tests/sb_true_static
/tests/package.m4
/tests/testsuite
/tests/testsuite.dir/
/tests/testsuite.list
/tests/testsuite.log
