a.out
*~
*.lo
*.la
*.o
.deps
.libs
Makefile
Makefile.in
.gdb_history

/aclocal.m4
/autom4te.cache/
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/test.sh

/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4

/ChangeLog

/libsandbox/libsandbox.map
/libsandbox/sb_nr.h
/libsandbox/symbols.h
/libsandbox/trace_syscalls*.h

/src/sandbox
/src/sandbox.sh

/tests/*-0
/tests/*_tst
/tests/atconfig
/tests/atlocal
/tests/get-group
/tests/get-user
/tests/package.m4
/tests/testsuite
/tests/testsuite.dir/
/tests/testsuite.log
