*~
*.lo
*.la
*.o
.deps
.libs
Makefile
Makefile.in
.gdb_history

/aclocal.m4
/autom4te.cache/
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/test.sh

/ChangeLog

/libsandbox/libsandbox.map
/libsandbox/symbols.h

/src/sandbox

/tests/*-0
/tests/*_tst
/tests/atconfig
/tests/atlocal
/tests/package.m4
/tests/testsuite
/tests/testsuite.dir/
/tests/testsuite.log
