[Desktop Entry]
Version=1.0
Name=sandbox
Type=Application
Comment=launch a sandboxed shell ... useful for debugging ebuilds
Exec=sandbox
TryExec=sandbox
Icon=sandbox
Categories=Development;
Terminal=true
